<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<header th:replace="~{header :: header_head}"/>
<!-- 네비게이션 바 -->
<nav th:replace="~{header :: header_nav}"/>
<body>
<!-- 글쓰기 폼 및 내용을 여기에 추가하세요 -->
<form action="/board/createBoard" method="post" enctype="multipart/form-data">
  <table class="table">
    <tr>
      <td>제목</td>
      <td><input type="text" name="title" class="form-control"/></td>
    </tr>
    <tr>
      <td>작성자</td>
      <td><input type="text" name="writer" class="form-control"/></td>
    </tr>
    <tr>
      <td>내용</td>
      <td><textarea rows="7" name="content" class="form-control"></textarea></td>
    </tr>
    <tr>
      <td>파일 첨부</td>
      <td><input type="file" name="file"></td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="button" onclick="" class="btn btn-success">목록</button>
        <button type="submit"  class="btn btn-info">등록</button>
      </td>
    </tr>
  </table>
  <input type="hidden" name="boardLike" value=0>
  <input type="hidden" name="dislike" value=0>
  <input type="hidden" name="count" value=0>
  <input type="hidden" name="memberId" value=1>
</form>

<!-- 필요한 경우 추가적인 내용이나 스크립트를 추가하세요 -->
</body>

</html>
