<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<header th:replace="~{header :: header_head}"/>
<!-- 네비게이션 바 -->
<nav th:replace="~{header :: header_nav}"/>
<body>
<div>
  <h1 th:text="${board.title}" class="mb-4"></h1>
  <p>작성자: <span th:text="${board.writer}"></span></p>
  <div th:if="${board.fileUrl != null}">
    <img th:src="${{board.fileUrl}" alt="" style="width: 300px; height: 200px;" class="mb-3">
  </div>
  <p th:text="${board.content}"></p>
  <a th:href="@{/board/boardList}" class="btn btn-warning">목록</a>
  <!-- 게시글 수정 및 삭제 버튼  -->
  <div th:if="${member.userId != null and member.userId == board.writer}" class="d-flex justify-content-between align-items-center mt-3">
    <a th:href="@{'/board/' + ${board.idx} + '/edit'}" class="btn btn-warning mr-2">수정</a>
    <form th:action="@{'/board/' + ${board.idx} + '/delete'}" method="post" onsubmit="return confirm('삭제하시겠습니까?');">

      <button type="submit" class="btn btn-danger">삭제</button>
    </form>
  </div>
</div>
<!-- 필요한 경우 추가적인 내용이나 스크립트를 추가하세요 -->
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
