<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: header_head}"/>
<nav th:replace="~{header :: header_nav}"/>
<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
<div class="container">
  <h2>회원정보 수정</h2>
  <div class="panel panel-default">
    <div class="panel-heading">회원정보 수정</div>
    <div class="panel-body">
      <form th:object="${member}" th:action method="post">
        <input type="hidden" th:field="*{midx}"/> <!-- 회원 식별을 위한 숨은 필드 추가 -->
        <table class="table table-bordered" style="text-align: center; border: 1px soild #ddd;">
          <tr>
            <td style="width:110px; vertical-align: middle;">아이디</td>
            <td>
              <input class="form-control" type="text" th:field="*{userId}" readonly/>
            </td>
          </tr>
          <tr>
            <td style="width:110px; vertical-align: middle;">현재 비밀번호</td>
            <td>
              <input class="form-control" type="password" name="currentPassword" maxlength="20"
                     placeholder="현재 비밀번호를 입력하세요."/>
            </td>
          </tr>
          <tr>
            <td style="width:110px; vertical-align: middle;">새로운 비밀번호</td>
            <td>
              <input class="form-control" type="password" name="newPassword" maxlength="20"
                     placeholder="새로운 비밀번호를 입력하세요."/>
            </td>
          </tr>
          <tr>
            <td style="width:110px; vertical-align: middle;">비밀번호 확인</td>
            <td>
              <input class="form-control" type="password" name="confirmPassword" maxlength="20"
                     placeholder="비밀번호를 확인하세요."/>
            </td>
          </tr>
          <!-- 기타 수정할 회원 정보들 추가 -->

          <tr>
            <td colspan="3" style="text-align: left;">
              <span id="cpw_msg" style="color: red;"></span>
              <input type="submit" class="btn btn-primary btn-sm pull-right" value="수정"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="panel-footer">푸터임</div>
  </div>
</div>
</body>
<script th:src="@{/js/member.js}"></script>
</html>
