<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     th:fragment="header">
  <a class="navbar-brand" href="#">Community</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">게시글 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">포인트 전송</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">포인트 룰렛</a>
      </li>
    </ul>
  </div>
</nav>
</html>